body {
    background-color: rgb(224, 198, 164);
    font-family: 'Raleway', sans-serif;
}

header h1 {
    color: rgb(66, 33, 6);
    font-weight: bold;
    margin-bottom: 15px;
}

.navbar-brend a:hover,
.navbar-brend a:focus {
    text-decoration: none;
}

#header-nav {
    border-radius: 0px;
}


/*Кнопка меню*/

.navbar-menu button.navbar-toggle {
    margin-top: -100px;
    border: 1px solid black;
    background-color: rgb(224, 198, 164);
    border: 2px solid rgb(66, 33, 6);
    padding: 10px 20px 15px 20px;
}

.navbar-menu button.navbar-toggle:hover,
.navbar-menu button.navbar-toggle:focus {
    background-color: rosybrown;
}

.navbar-menu .icon-bar {
    /*Всі палки в кнопці*/
    margin-top: 40px;
    border: 2px solid rgb(66, 33, 6);
    border-color: rgb(66, 33, 6);
}

.navbar-menu .navbar-toggle .icon-bar {
    /*Одна палка в кнопці меню*/
    background-color: rgb(66, 33, 6);
}


/*The end of кнопка меню*/


/*Меню*/

#nav-list {
    margin-top: auto;
}

#nav-list span {
    font-size: 20px;
}

#nav-list a {
    text-align: center;
    color: rgb(66, 33, 6);
    border-bottom: 2px solid rgb(66, 33, 6);
    font-size: 22px;
}

#nav-list a:hover {
    background-color: rosybrown;
    text-shadow: 0 0 10px white;
}

#collapsable-nav {
    border-top: 2px solid rgb(66, 33, 6);
    margin-bottom: -10px;
}


/*The end of меню*/


/*Main-content*/

h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 35px;
}

div {
    font-size: 25px;
}

.row {
    position: relative;
    margin: 30px;
}

.row div div>h3 {
    text-align: center;
    font-size: 30px;
    padding-top: 0;
    padding-bottom: 5px;
    font-style: italic;
    background-color: rgba(255, 245, 238, 0.329);
    padding: 10px 0 10px 0;
    border-radius: 30px;
    width: 100%;
}

.row div div {
    margin: 0 auto 30px;
    padding: 5px 15px 10px 15px;
    text-align: left;
    background-color: rosybrown;
    box-sizing: border-box;
    border: 2px solid rgba(66, 33, 6, 0.918);
    font-size: 20px;
    overflow: hidden;
}

.row div div a {
    font-style: italic;
    float: right;
    background-color: rgba(66, 33, 6, 0.767);
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: rosybrown;
    border-radius: 30px;
}

.row div div a:hover,
.row div div a:focus {
    text-decoration: none;
    color: seashell;
    box-shadow: 0 0 10px seashell;
}


/*Main-content is ended*/

@media (min-width: 1200px) {}

@media(min-width:992px) and (max-width:1199px) {}

@media(min-width:768px) and (max-width:991px) {}

@media(max-width:767px) {
    #header-nav {
        border-bottom: 2px solid rgb(66, 33, 6);
    }
    header h1 {
        font-size: 6vw;
    }
}